<div>
    <h1>Card Title</h1>
    <div>
        Story Card<br/>
        Story: <textarea></textarea><br/>
        Global modifiers: <input type="number" /><br/>
        Choices:
        <div>
            <a href=''>Add new choice</a><br/>
            <div>
                Choice descriptions: <textarea></textarea><br/>
                Succeed text: <textarea></textarea>
                Skill roll: <select></select><br/>
                Difficulty class: <input type='text'/><br/>
                Fail text: <textarea></textarea><br/>
                Next story on successful roll:
                <a href=''>Link existing story</a>
                <a href=''>Create new story</a>
                Next story on fail roll:
                <a href=''>Link existing story</a>
                <a href=''>Create new story</a>
            </div>
        </div>
    </div>
</div>
